.menu {
  font-size: 18px;
  z-index: 19;
}
.menu__list {
  padding: 7px 7px;
}
.menu__item {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
}
.menu__item:last-child {
  margin-right: unset;
}

.menu__item a {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  padding: 6px 16px;
  border-radius: 9px;
}
.menu__item a .active {
  background-color: #47366b;
  backdrop-filter: saturate(80%) blur(10px);
}
.menu__item a:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #4D2A99;
}