.menu {
  background-color: rgb(50 25 105 / 60%);
  color: #ffffff;
  font-size: 20px;
  border-radius: 14px;
  position: sticky;
  top: 10px;
  z-index: 99;
  backdrop-filter: saturate(180%) blur(20px);
  margin: auto;
}
.menu__list {
  padding: 7px 7px;
}
.menu__item {
  list-style: none;
  display: inline-block;
  padding: 9px 16px;
  margin-right: 5px;
  border-radius: 9px;
}
.menu__item.active {
  background-color: #47366b;
}
.menu__item:hover {
  background-color: #4D2A99;
}
.menu__item:last-child {
  margin-right: unset;
}